
block input-card
    div(class='payment-form__item input-card')
        .payment-form__item-inp
            label(class='payment-form__item-title') Card Number
        .payment-form__inp-wrap
            .inp-message-wrap
                input(
                    type='text'
                    class='form-control'
                    name='card-number'
                    id='card-number-inp'
                    placeholder='⦁⦁⦁⦁ ⦁⦁⦁⦁ ⦁⦁⦁⦁ ⦁⦁⦁⦁'
                    data-parsley-length="[16, 19]"
                    data-parsley-required
                    data-parsley-type="number"
                    )
            div(class='pay-card-group-wrap mob-hide tab-show')
                include ../pay-card-group
                    block pay-card-group