
block input-names
    div(class='payment-form__item input-names')
        .payment-form__item-inp
            label(class='payment-form__item-title') Cardholder Name
        div(class="payment-form__inp-wrap")
            .inp-message-wrap
                input(
                    type='text'
                    class='form-control'
                    name='first-name'
                    placeholder='First Name'
                    data-parsley-required)
            .inp-message-wrap
                input(
                    type='text'
                    class ='form-control'
                    name='last-name'
                    placeholder='Last Name'
                    data-parsley-required)