
block input-card-data
    div(class='payment-form__item input-card-data')
        .payment-form__item-inp
            label(class='payment-form__item-title') Exp. Date

        .payment-form__inp-wrap
            .inp-message-wrap
                select(
                    class='form-control card-month'
                    name='card-month'
                    data-parsley-required)
                    option(disabled selected) MM
                    each elem,i  in month
                        option(value=(i + 1)) #{elem}
                +icon('select-arrow')

            span.payment-form__separator /
            .inp-message-wrap
                select(
                    class='form-control card-year'
                    name='card-year'
                    data-parsley-required)
                    option(disabled selected) YYYY
                    each elem,i  in years
                        option(value=(i + 1)) #{elem}
                +icon('select-arrow')

    div(class='payment-form__item input-card-cvv')
        .payment-form__item-inp
            label(class='payment-form__item-title') CVV/CVC
        .payment-form__inp-wrap
            .inp-message-wrap
                input(
                    type='text'
                    class='form-control card-cvv'
                    name='card-cvv'
                    placeholder='XXXX'
                    data-parsley-required
                    maxlength="4"
                    data-parsley-maxlength="4"
                    data-parsley-type="number")
                div(class='tooltip-button payment-form__tooltip')
                    +icon('tooltip')
                    .tooltip-helper
                        .tooltip-helper__container
                            .card-item
                                .card-item__icon
                                    +icon('amerexback')
                                .card-item__title
                                    p Visa, MasterCard
                                .card-item__text
                                   p 3-Digit Verification Number
                            span.tooltip-helper-separator
                            .card-item
                                .card-item__icon
                                    +icon('visaback')
                                .card-item__title
                                    p Visa, MasterCard
                                .card-item__text
                                    p 3-Digit Verification Number
